#start{
    /* background-color: rgb(255, 0, 0); */
    text-align: center;
    align-content: center;
    /* transition: opacity 0.5s ease-out; */
    background-color: rgb(220, 214, 200);
    color: rgb(3, 202, 7);
}
#start p{
    margin: 0px;
}